@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body{
    font-family: "Inter", sans-serif;
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 30%;
    gap: 30px;
    margin-top: 190px;
    position: fixed;
}