@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body{
  background-color: black;
}

.search-container {
  display: flex;    
  width: 746px;
  height: 74px;
  padding: 3px;
  margin-left: 25%;
}

.input-search::placeholder {
  color: #686868;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 24px;
}

.input-search {
  background: #4B4949;
  width: 80%;
  height: 100%;
  border: 4px solid #303030;
  border-right: 2px solid #4B4949;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding-left: 40px;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: default;
}

.button-search{
  background-color: #686868;
  width: 20%;
  height: 100%;
  border: 4px solid #303030;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}


.lupa-search{
  margin-left: 50px;
  cursor: pointer;
}